<div class="container">
  <div class="container-inner inner-default clearfix">
    <% amazon_items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% get_image = item.get('LargeImage/URL')  %>
            <% if get_image.present? %>
              <%= image_tag(get_image, alt: item.get('ItemAttributes/Title'))  %>
            <% else %>
              <%= image_tag ('no-image.png')  %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item.get('ItemAttributes/Title')  %>
          </p>
        </div>
        <div class="action clearfix">
            <% if current_user.want_asin?(item) %>
              <%= render  'items/unwant', item: asin_find_by_item(item)  %>
            <% else %>
              <%= render  'items/asinwant', item: item  %>
            <% end %>
             <% if current_user.have_asin?(item) %>
              <%= render  'items/unhave', item: asin_find_by_item(item)  %>
            <% else %>
              <%= render  'items/asinhave', item: item  %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>