<div class="container">
  <div class="container-inner inner-default clearfix">
    <% amazon_items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% get_image = item.get('LargeImage/URL')  %>
            <% if get_image.present? %>
              <%= image_tag(get_image, alt: item.get('ItemAttributes/Title'))  %>
            <% else %>
              <%= image_tag ('no-image.png')  %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item.get('ItemAttributes/Title')  %>
          </p>
        </div>
        <% itemget = Item.find_by(asin: item.get('ASIN')) %>
        <div class="action clearfix">
            <% if current_user.want?(itemget) %>
              <%= render  'items/unwant', item: itemget  %>
            <% else %>
              <%= link_to "" , ownerships_path(asin: item.get('ASIN') , type: "Want") ,
                      :class => "want-#{item.get('ASIN')} btn-want btn btn-danger btn-sm want",
                      :remote => true,
                      :method => :post %>

            <% end %>
             <% if current_user.have?(itemget) %>
              <%= render  'items/unhave', item: itemget  %>
            <% else %>
              <%= link_to "" , ownerships_path(asin: item.get('ASIN') , type: "Have") ,
                      :class => "have-#{item.get('ASIN')} btn-have btn btn-warning btn-sm have",
                      :remote => true,
                      :method => :post %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>